.marketplace-header {
  text-align: center;
  padding: 10px;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-icon {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
  background-color: var(--text-primary);
  color: var(--bg-primary);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
