.reload-button {
  border: none;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  box-shadow: none;
  cursor: pointer;
}

.reload-button .i {
  font-size: 18px;
}

.reload-button:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}
