.modal {
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
  display: flex;
  align-items: center;
  justify-content: center;
}
